body {
    background-color: rgb(24, 40, 54);
    font-family: Arial, sans-serif;
}

h1 {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

#botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

button {
    background-color: coral;
    color: white;
    border: none;
    padding: 20px 35px;
    border-radius: 5px;
    cursor: pointer;
}